<mat-grid-list cols="4" rowHeight="fit" class="app-content">
  <mat-grid-tile *ngFor="let section of sections; let sectionIndex = index" [colspan]="section.cols" [rowspan]="section.rows"
    [style.background]="section.color">
    <mat-card>
      <mat-card-title>
        <h1>{{section.id}}</h1>
      </mat-card-title>
      <mat-card-content cdkDropList (cdkDropListDropped)="drop($event)" [ngClass]="{'column' : section.cols === 1 , 'row': section.cols === 2}">
        <div *ngFor="let list of section.notesCollections; let collectionIndex = index" class="notes-collection-container">
          <app-sticky-note cdkDrag *ngFor="let note of list; let noteIndex = index" (closeNote)="removeNote(note.noteId)">
          </app-sticky-note>
        </div>
        <button mat-icon-button color="primary" (click)="addNote(section)">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
